# [Adblock Plus 2.0]
# Title: Safe Search Enforcing Hosts (IPv4-Only)
# Last Modified: %timestamp%
# Description: This hosts file will cause Safe Search to be always on

%include https://github.com/arfshl/safesearch-enforcing-hosts/raw/master/google/hosts-ipv4only.txt%

%include https://github.com/arfshl/safesearch-enforcing-hosts/raw/master/bing/hosts.txt%

%include https://github.com/arfshl/safesearch-enforcing-hosts/raw/master/ecosia/hosts.txt%

%include https://github.com/arfshl/safesearch-enforcing-hosts/raw/master/yandex/hosts.txt%