# [Adblock Plus 2.0]
# Title: Safe Search Enforcing Hosts
# Last Modified: %timestamp%
# Description: This hosts file will cause Safe Search to be always on

%include /home/runner/work/safesearch-enforcing-hosts/safesearch-enforcing-hosts/google/hosts.txt%

%include /home/runner/work/safesearch-enforcing-hosts/safesearch-enforcing-hosts/bing/hosts.txt%

%include /home/runner/work/safesearch-enforcing-hosts/safesearch-enforcing-hosts/ecosia/hosts.txt%

%include /home/runner/work/safesearch-enforcing-hosts/safesearch-enforcing-hosts/yandex/hosts.txt%